{% extends 'base.html' %}
{% block content %}


<div class="pagetitle">
    <h1>Applied Jobs</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Applied List</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="headf">Here is a list of Jobs that have been previously applied to</h5>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Position</th>
                  <th>Status</th>
                  <th>Files</th>
                </tr>
              </thead>
              <tbody>
              
                <tr>
                  {% for applicant in applicants %}
                  <td>{{ applicant.company}}</td>
                  <td>{{ applicant.job }}</td>
                  <td><button class="button-job-status">Pending</button></td>
                  <td><button class="button-job-apply"><a href="applications.html">Download</a></button></td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

            <!-- Pagination with icons -->
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav><!-- End Pagination with icons -->

          </div>
        </div>

      </div>
    </div>
  </section>


{% endblock %}