{% extends 'base.html' %}

{% load static %}


{% block title %} | Company {% endblock %}
{% block content %}


<div class="pagetitle">
    <h1>Administrator Page</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Applications</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Applicant Details</h5>

            {% if allapplicants %}
            <!-- Applicant Table -->
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Position</th>
                  <th scope="col">Attached CV</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for applicant in allapplicants %}
                <tr>
                  <td>{{ applicant.name }}</td>
                  <td>{{ applicant.job.name }}</td>
                  {% if applicant.document %}
                  <td><button class="button-job-apply"><a href="{{ applicant.document.url }}" download>Open CV</a></button></td>
                  {% else %}
                  <p>No attached documents</p>
                  {% endif %}
                  <td> {{ applicant.submissiondate }}</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
            {% else %}
            <p>No applicants available</p>
            {% endif %}
            <!-- End Applicant Table -->


            <!-- Pagination with icons -->
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav><!-- End Pagination with icons -->

            
          </div>
        </div>

      </div>  

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Applicants Status</h5>

            <!-- Status Table -->

            {{ form }}
         
            <!-- End Status Table -->

            
            <!-- Pagination with icons -->
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav><!-- End Pagination with icons -->


          </div>
        </div>

      </div>
    </div>
  </section>


{% endblock %}